body {
    background-image: url('./img/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial;
}

.form {
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    width: 300px;
}

#judul {
    font-size: 21px;
    text-align: center;
    text-decoration: underline;
}

.input-field {
    width: 300px;
    height: 20px;
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.button {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    width: 120px;
    background-color: black;
    color: yellow;
    border-radius: 10px;
    font-weight: bolder;
}